# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# https://github.com/mikewesthad/unity-git-and-lfs/blob/master/.gitattributes

# which files to save using git lfs
*.blend filter=lfs diff=lfs merge=lfs -text